@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root
{
	--background-clr: #000;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: var(--background-clr);
}

.loading
{
	justify-content: center;
	align-items: center;
}

.loading p {
	color: yellow;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
	text-shadow: 1px 1px 1px white;
	text-align: center;
}