@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
    --black: #000000;
    --white: #FFFFFF;
    --green: #00FF00;
    --blue: #0000ff;
    --bgImage: url('images/gif.gif');
}

html {
    font-size: 62.5%;
}

body {
    min-width: 100%;
    height: 100vh;
    font-family: monospace;
    background: var(--bgColor); 
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

.light-theme {
    transition: 0.6s;
    --bgColor: var(--white);
    --headerBg: var(--white);
    --headerTextColor: var(--white);
    --headerHoverColor: var(--blue);
    --headerShadowColor: var(--black);
    --stickyTextColor: var(--black);
    --btnTextColor: var(--green);
    --btnBorderColor: var(--green);
    --btnBgColor: var(--black);
}

.dark-theme {
    transition: 0.6s;
    --bgColor: var(--black);
    --bgTextColor: var(--white);
    --headerBg: var(--black);
    --headerTextColor: var(--black);
    --headerHoverColor: var(--green);
    --headerShadowColor: var(--white);
    --stickyTextColor: var(--white);
    --btnTextColor: var(--blue);
    --btnBorderColor: var(--blue);
    --btnBgColor: var(--white);
}

header {
    position: fixed;
    padding: 0px 50px;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 100000;
}

header.sticky {
    background: var(--headerBg);
}

header.sticky #title a,
header.sticky .menu a {
    color: var(--stickyTextColor);
    text-shadow: none;
}

header.sticky #title a:hover,
header.sticky .menu a:hover {
    color: var(--headerHoverColor);
}

#title {
    position: relative;
    font-family: Oswald;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.6s;
    letter-spacing: 2px;
}

#title a {
    text-decoration: none;
    color: var(--headerTextColor);
    transition: 0.6s;
    text-shadow: 0px 0px 5px var(--headerShadowColor);
}

#title:hover,
#title a:hover {
    transform: scale(1.1);
    color: var(--headerHoverColor);
    text-shadow: none;
}

ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    position: relative;
    left: 500px;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 0 15px;
    list-style: none;
    transition: 0.6s;
}

.menu a {
    color: var(--headerTextColor);
    text-shadow: 0px 0px 3px var(--headerShadowColor);
    text-decoration: none;
    transition: 0.6s;
}

.menu:hover,
.menu a:hover {
    transform: scale(1.1);
    color: var(--headerHoverColor);
    text-shadow: none;
}

.btn-theme {
    position: relative;
    right: 100px;
    width: 3em;
    height: 3em;
    border: solid 3px;
    border-radius: 100%;
    font-size: 3rem;
    font-weight: bold;
    font-family: Oswald;
    text-transform: uppercase;
    transition: 0.6s;
    box-shadow: 0px 0px 25px #000;
}

.btn-theme:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-color: var(--btnBorderColor);
    color: var(--btnTextColor);
    background: var(--btnBgColor);
}

.banner {
    position: absolute;
    background-position: center center;
    background-size: cover;
    width: 100%;
}

.bgvid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: -1;
}

.container {
    position: relative;
    top: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#name {
    position: relative;
    bottom: 25px;
    transition: 0.6s;
    cursor: default;
    font-family: Oswald; 
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white);
    font-size: 5rem;
    text-shadow: 0px 0px 10px var(--headerHoverColor);
}

#name:hover {
    transform: scale(1.1);
}

#prof {
    cursor: default;
    transition: 0.6s;
    position: relative;
    bottom: 75px;
    font-family: Orbitron;
    color: var(--white);
    font-size: 2.5rem;
    text-shadow: 1px 1px 5px var(--black);
}

#prof:hover {
    transform: scale(1.1);
}

#myself-image {
    position: relative;
    transition: 0.6s;
    background: url('images/myself.jpeg');
    background-size: cover;
    background-position: center center;
    border: solid 5px;
    border-radius: 100%;
    border-color: var(--headerHoverColor);
    width: 350px;
    height: 350px;
    box-shadow: 3px 3px 25px #000;
}

#myself-image:hover {
    transform: scale(1.1);
}

#about-title {
    position: relative;
    transition: 0.6s;
    position: relative;
    bottom: 50px;
    color: var(--white);
    font-family: Orbitron;
    font-size: 3rem;
    text-shadow: 0px 0px 10px var(--headerHoverColor);
    text-transform: uppercase;
}

#about-text {
    position: absolute;
    top: 580px;
    width: 60%;
    color: var(--white);
    text-shadow: 0px 0px 10px var(--black);
    font-family: Oswald;
    font-size: 3rem;
}   

#s-curriculo {
    position: relative;
    color: white;
    top: 370px;
    font-family: Oswald;
}

.btn-curriculo {
    position: relative;
    top: 360px;
    font-family: Oswald;
    font-size: 3rem;
    text-transform: uppercase;
    background: var(--bgColor);
    border: solid 5px;
    border-radius: 100px;
    border-color: var(--headerHoverColor);
    width: 180px;
    height: 65px;
    text-align: center;
    line-height: 0px;
    transition: 0.6s;
    box-shadow: 3px 3px 25px #000;
}

.btn-curriculo a {
    color: var(--headerHoverColor);
    text-decoration: none;
    transition: 0.6s;
}

.btn-curriculo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.copyright {
    transition: 0.6s;
    position: absolute;
    top: 1420px;
    width: 100%;
    height: 50px;
    background: var(--bgColor);
    justify-content: center;
    align-items: center;
    display: flex;
}

.copyright p {
    transition: 0.6s;
    font-size: 2rem;
    font-weight: 700;
    color: var(--bgTextColor);
}

.fa {
    padding: 20px;
    margin: 0 15px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    transition: 0.6s;
    box-shadow: 3px 3px 25px #000;
}

.fa:hover {
    transform: scale(1.3);
}

.fa-whatsapp {
    position: relative;
    color: #FFF;
    background-color: #25D366;
}

.fa-google {
    color: #FFF;
    background-color: #DB4437;
}

.fa-linkedin {
    position: relative;
    color: #FFF;
    background-color: #0e76a8 ;
}

.fa-github {
    position: relative;
    color: #FFF;
    background-color: #333 ;
}

.img-projects {
    position: relative;
    margin: 0 15px;
    top: 100px;
    transition: 0.6s;
    border: solid 3px var(--headerHoverColor);
    width: 350px;
    border-radius: 25px;
    box-shadow: 3px 3px 25px #000;
}